$e3-yellow: #fde802 !default;
$e3-yellow-green: #c0c931 !default;
$e3-yellow-green-2: #8fb73e !default;
$e3-light-green: #5fa944 !default;
$e3-medium-green: #229b48 !default;
$e3-teal-green: #029076 !default;
$e3-teal-blue: #0e99b8 !default;
$e3-light-blue: #159ad7 !default;
$e3-medium-blue: #0c68b4 !default;
$e3-dark-blue: #025299 !default;
$e3-navy: #253c83 !default;
$e3-purple: #482d7b !default;
$e3-grape: #70297b !default;
$e3-pink: #e7307d !default;
$e3-red: #e7242e !default;
$bronze: #cd7f32 !default;
$silver: #c0c0c0 !default;
$gold: #ffd700 !default;
$golden: darken($gold, 10%) !default;
$platinum: #c1beba !default;

$manufacturing: "/media/1173/netmanu.jpg";
$accountancy: "/media/1170/finance.jpg";
$finance: "/media/1172/netfinance.jpg";
$e-commerce: "/media/1171/ecommercen.jpg";
$smes: "/media/1174/netsme.jpg";
$netsuite: "/media/1073/netsuite.jpg";
$development: "/media/1070/development.jpg";
$intergration: "/media/1162/integration.jpg";
$training: "/media/1164/personerp.jpg";

$body-font: "Roboto", sans-serif !default;
$heading-font: "Roboto Slab", serif;
