// Fonts
$heading-font: Muli, sans-serif;
$body-font: Open Sans, sans-serif;

//Branding colours
$brown: hsl(24, 17%, 34%); // #665448
$sand: hsl(34, 50%, 81%); // #e7d2b7
$greyishblue: hsl(205, 12%, 52%); // #778894

//Defualt colours
$black: hsl(0,0%,0%); // #000000
$darkgrey: hsl(0,0%,20%); // #333333
$white: hsl(0,0%,100%); // #ffffff

// link colours
$link: $darkgrey;
$visited: $darkgrey; 
$hover: $darkgrey;
$active: $brown;